/* delete */
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(24, 24, 24);
    color: #ffffff;
    font-family: sans-serif;
}

.h1delete {
    color: green;
}

.voltar_listas {
    color: green;
    text-decoration: underline;
}

.buttonSim {
    color: white;
    background-color: green;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.buttonNao {
    color: white;
    background-color: red;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}